<div class="row landing-row">
    <div class="col-lg-12">
        <h3 style="align-center"> We gathered great resources to help your Pet Parent Journey!</h3>
    </div>
</div>
<div class="container-fluid center">
    <div class="row landing-row">
        <div class="col-md-6">
            <h3 style="align-center">Dog Manual</h3>
            <div>
                <a href="Manuals/The-Dog_ownership_Guide.pdf" download="dogManual.pdf"><img
                        class="d-block w-100 image-responsive fit-image"
                        src="https://64.media.tumblr.com/b80a3fa47163f3bd34323c48b4e7198c/530ee24be2516c4b-a5/s540x810/92ea744d34860c19158e44e557ae44507d1b915d.jpg"
                        alt="First slide"> </a>
            </div>

        </div>
        <div class="col-md-6">
            <h3 style="align-center">Cat Manual</h3>
            <div>
                <a href="Manuals/CatOwnersManual.pdf" download="catManual.pdf"><img
                    class="d-block w-100 image-responsive fit-image"
                    src="https://66.media.tumblr.com/2f69d38ed6eebe468f73110095e577b4/f4df9bb060f4b6ee-43/s2048x3072/86db298b740085d4c476c3b2d86dad4884901dd2.jpg"
                    alt="First slide"> </a>
            </div>
        </div>

    </div>
</div>
<div class="row landing-row">
    <div class="col-lg-12">
        <p> We have collected these manuals from other sites with the same mission as PetMatch, please visit them to
            learn more about their mission! </p>
    </div>
</div>
<div class="row landing-row">
    <div class="col-md-6 align-center">
        <a href="https://www.foundanimals.org/about-us/">
            <h4> The dog manual is creation of MFA </h4>
                <p> Michelson Found Animals </p>
        </a>

    </div>
    <div class="col-md-6 align-center">
        <a href="https://carenorthshore.org/cat-owners-manual">
            <h4> The cat manual is creation of C.A.R.E </h4>
                <p> Community Animal Rescue Effort </p>
        </a>
    </div>


</div>

<div>
    <p style="font-size: xx-small;">Icons made by <a href="https://www.flaticon.com/authors/freepik"
            title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    <p></p>
</div>
</body>